/* 
-----------------------------------------------
Master Piece of work
----------------------------------------------- */
/* Variable definitions
====================
<Variable name="mainbgcolor" description="Blog main Color" type="color" default="#f0f0f0"  value="#f0f0f0"/>
<Variable name="primarycolor" description="Primary Color" type="color" default="#d86843"  value="#69a20f"/>
<Variable name="secondcolor" description="Secondary Color" type="color" default="#333333"  value="#333333"/>
*/
/*****************************************
reset.css
******************************************/
html, body, .section, .widget, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {    margin: 0;    padding: 0;}
html {   overflow-x: hidden;}
a {text-decoration:none;color:#000;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {     display:block;}
table {    border-collapse: separate;    border-spacing: 0;}
caption, th, td {    text-align: left;    font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {    content: "";}
.quickedit, .home-link{display:none;}
blockquote, q {    quotes: "" "";}
sup{    vertical-align: super;    font-size:smaller;}
code{    font-family: 'Times New Roman', monospace;    font-size:12px;    color:#272727;}
::selection {background:transparent; text-shadow:#000 0 0 2px;}
::-moz-selection {background:transparent; text-shadow:#000 0 0 2px;}
::-webkit-selection {background:transparent; text-shadow:#000 0 0 2px;}
::-o-selection {background:transparent; text-shadow:#000 0 0 2px;}
a img{	border: none;}
ol, ul { padding:0;  margin:0;  text-align: left;  }
ol li { list-style-type: decimal;  padding:0 0 5px;  }
ul li { list-style-type: disc;  padding: 0 0 5px;  }
ul ul, ol ol { padding: 0; }
#navbar-iframe, .navbar {   height:0px;   visibility:hidden;   display:none   }
.post-footer-line.post-footer-line-1, .post-footer-line.post-footer-line-2 , .post-footer-line.post-footer-line-3 {
display: none;
}
.feed-links {
    display: none;
    visibility: hidden;
}
.item-control {
display: none !important;
}
h2.date-header, h4.date-header {display:none;margin:1.5em 0 .5em}
h1, h2, h3, h4, h5, h6 {
font-family: 'Times New Roman', serif;
font-weight: bold;
color: #2e2e2e;
}
blockquote {
padding: 8px;
background-color: #faebbc;
border-top: 1px solid #e1cc89;
border-bottom: 1px solid #e1cc89;
margin: 5px;
background-image: url(http://1.bp.blogspot.com/-siy6EKYCLtM/U6X4AdKrr0I/AAAAAAAANDs/HCjRvuedDro/s1600/openquote1.gif);
background-position: top left;
background-repeat: no-repeat;
text-indent: 23px;
}
blockquote p{
display: block;
background-image: url(http://3.bp.blogspot.com/-UjppXQI-ww0/U6X4IpheNiI/AAAAAAAAND0/PJhRvvhAWGU/s1600/closequote1.gif);
background-repeat: no-repeat;
background-position: bottom right;
}
* {
    outline: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}
@media print{
.nav-menu, #sidebar-wrapper, .share-box, #related-posts, #lower, .sub-wrap, .comments, #ads-blog {
display: none!important;
}
#main-wrapper {
width:100%!important;
max-width:100%!important;
}
}
#loader {
position: fixed;
top: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
background-color: #FFF;
z-index: 1000;
}
#status {
width: 200px;
height: 200px;
position: fixed;
left: 50%;
z-index: 100;
top: 50%;
background-image: url(https://2.bp.blogspot.com/-885osCcs6CA/V8kwiiRItZI/AAAAAAAAA1Q/ej5g-D7Y74MXTcLqJOWA5FGMbjFHbFJXwCLcB/s1600/hourglass.gif);
background-repeat: no-repeat;
background-position: center;
margin: -100px 0 0 -100px;
z-index: 1001;
}
img {
max-width:100%;
verticle-align:middle;
}
/*****************************************
Custom css starts
******************************************/
body {
color: #2e2e2e;
font-family: 'Times New Roman', serif;
font-size: 14px;
font-weight: normal;
line-height: 21px;
    background: $mainbgcolor url(http://2.bp.blogspot.com/-ReAMfeZ3V68/Vs8X1mFeG6I/AAAAAAAADHU/0uaR6bxj7hU/s1600-r/bg2.png) repeat scroll top left;
}
/* ######## Wrapper Css ######################### */
#outer-wrapper{max-width:100%;margin:0 auto;background-color:#FFF;box-shadow:0 0 5px RGBA(0, 0, 0, 0.2)}
.row{width:1110px; margin:0 auto;}
#content-wrapper {
margin: 0 auto;
padding: 40px 0 40px;
}
#main-wrapper {
float: left;
width: 67%;
max-width: 750px;
}
#sidebar-wrapper {
float: right;
width: 30%;
max-width: 330px;
}
/* ######## Header Css ######################### */
#header-wrapper {
    background: $primarycolor;
border-bottom: 1px solid #e2e2e2;
}
#header-wrappers {
color: #fff;
padding: 25px 0 10px 0;
border-bottom: 1px solid rgba(255,255,255,0.4);
height:80px;
}
#header-inner {
background-position: left;
background-repeat: no;
}
.headerleft h1,
.headerleft h1 a,
.headerleft h1 a:hover,
.headerleft h1 a:visited {
color: $secondcolor;
    background: #fff !important;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2em;
    margin: 10px 0 0;
    padding: 5px 0;
    text-decoration: none;
    border-radius: 5px;
}
.headerleft h3 {
font-weight: 400;
margin: 0;
padding: 0;
}
.headerleft .description {
color: #fff;
    margin: 0;
    padding: 10px 0 0 30px;
  text-shadow: 1px 1px 2px #555;
}
.headerleft {
float: left;
margin: 0;
padding: 0;
max-width: 265px;
}
.headerright {
float: right;
margin: 0;
padding:0;
max-widthh: 900px;
}
/* ######## Navigation Menu Css ######################### */
.selectnav {display:none}
.nav-menu {
text-align: center;
margin: 0 auto;
width: 100%;
z-index: 299;
padding: 16px 0px;
}
#nav-menu1 {
margin: 0 auto;
}
.nav-menu ul {
list-style: none;
margin: 0;
padding: 0;
z-index: 999;
}
.nav-menu ul li {
display: inline-block;
float: left;
line-height: 1;
list-style: none outside none;
padding: 0;
text-align: left;
margin-right: 6px;
}
.nav-menu li a {
background: transparent;
color: #fff;
display: block;
font-size: 17px;
padding: 16px 17px;
position: relative;
text-decoration: none;
text-transform: uppercase;
font-family: 'Times New Roman', serif;
}
.nav-menu li a:hover,
.nav-menu ul li.highlight a {
background: $secondcolor;
color: #FFFFFF;
}

.nav-menu ul li ul {
width: 180px;
margin: 0px;
position: absolute;
visibility: hidden;
display: inline;
padding: 0px;
height: auto;
border-top-width:0;
background: $secondcolor;
    transition: none;
}
.nav-menu ul li:hover ul {
visibility: visible;
}
.nav-menu li li a {
color: #fff;
font-size: 14px;
padding: 16px 17px;
position: relative;
text-align: left;
}
.nav-menu li li {
float: none !important;
display: block;
border-bottom: 1px solid #222;
}
.nav-menu a#pull {
display: none;
}
.nav-menu ul li.hasSub a {
padding-right: 25px
}
.nav-menu ul li.hasSub a:after {
color: rgba(255,255,255,0.4);
position: absolute;
top: 15px;
right: 10px;
display: block;
content: "\f107";
font-family: FontAwesome;
font-weight: 400;
font-size: 15px;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale
}
.nav-menu ul li.hasSub ul li a:after {
display: none!important
}
/* ######## Second Header Css ######################### */
.sec-head {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 32px;
    color: #fff;
    padding: 30px 0 0;
}
.sec-head p {
    font-size: 16px;
    padding: 6px 0;
}
.sec-head h2 {
    font-size: 35px;
    color: #fff;
}
/* ######## Top Feature Css ######################### */
.box-sec {
    margin-bottom: -60px !important;
}
#slider_post {
position: relative;
padding: 0;
margin:0 auto;
}
#slider_post ul {
padding:0;
}
.owl-carousel .owl-wrapper:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
.owl-carousel {
display: none;
position: relative;
width: 100%;
-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
display: none;
position: relative;
-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
overflow: hidden;
position: relative;
width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
-webkit-transition: height 500ms ease-in-out;
-moz-transition: height 500ms ease-in-out;
-ms-transition: height 500ms ease-in-out;
-o-transition: height 500ms ease-in-out;
transition: height 500ms ease-in-out;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
cursor: pointer;
}
.owl-controls {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grabbing,
.grabbing a,
.grabbing * {
cursor: e-resize!important;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
}
.owl-prev,
.owl-next {
top: 40%;
color: #ccc;
font-family: FontAwesome;
position: absolute;
z-index: 1;
display: block;
padding: 0;
cursor: pointer;
padding: 0;
text-align: center;
overflow: hidden
}
.owl-prev {
left: 0
}
.label_with_thumbs .owl-prev,
.label_with_thumbs .owl-next {
margin-top: 0px;
font-size: 80px;
}
.label_with_thumbs .owl-prev {
left: -60px;
}
.label_with_thumbs .owl-next {
right:-60px;
}
.label_with_thumbs .owl-dots {
bottom: 10px
}
.owl-next:before {
font-family: fontawesome;
}
.owl-prev:before {
font-family: fontawesome;
}
.owl-carousel {
padding: 5px 0;
}
.label_with_thumbs .owl-carousel {
border: 0;
padding: 0;
}
.label_with_thumbs .owl-item li {
margin: 0;
padding: 0;
margin-right:10px;
}
.label_with_thumbs .owl-prev:hover,
.label_with_thumbs .owl-next:hover {
opacity: .9;
color: #333;
}
.owl-next:before {
content: '\f105';
font-family: fontawesome;
}
.owl-prev:before {
content: '\f104';
font-family: fontawesome;
}
.owl-carousel .owl-item {
float: left;
}
.box-title .owl-controls {
float: right;
}
.label_with_thumbs {
min-height: 70px;
margin: 0px 10px 2px 0px;
padding: 0;
}
ul.label_with_thumbs li {
padding:8px 0;
min-height:65px;
margin-bottom:0px;
}
.label_with_thumbs li{
list-style: none ;
padding-left:0px !important;
}
.label_with_thumbs .owl-item li img {
height: auto;
width: 100%;
}
.label_with_thumbs .owl-item li .thumb-hover {
content: no-close-quote;
position: absolute;
bottom: -5px;
width: 100%;
background: url(http://2.bp.blogspot.com/-_IyTmlpHtg8/Vmi5pkn5ZAI/AAAAAAAACVI/G4Kylbm3CDo/s1600-r/gradient.png) repeat-x 0 -1px;
opacity: .8;
left: 0;
opacity: .9;
background-size: 200px 100%;
height: 200px;
}
.label_with_thumbs .recent-thumb:after {
content: no-close-quote;
position: absolute;
left: 0;
bottom: 0;
height: 100%;
width: 100%;
opacity: 0.5;
background: -webkit-linear-gradient(top,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,1) 100%);
background: -moz-linear-gradient(top,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,1) 100%);
background: linear-gradient(top,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,1) 100%);
}
.label_with_thumbs .slider-con {
padding: 15px;
text-align: center;
}
.slider-con {
color: #fff;
position: absolute;
bottom: 20px;
width: 100%;
z-index: 2;
box-sizing: border-box;
}
.slider-con a {
color:#fff;
}
.slider-con h3 {
padding-bottom: 15px;
}
.slider-con br {
display: none;
}
.featured-content {
display: none;
}
.wid-thumb {
height: 350px;
position: relative;
width: 100%;
display: block;
}
.wid-thumb a {
}
.label_with_thumbs .recent-thumb {     text-transform: capitalize;
color: #fff;
width: 100%;
height: 100%;
display: block;
position: relative;}
.label_with_thumbs strong {padding-left:0px;font-size: 28px;
line-height: 35px;
letter-spacing: .5px;}
/* ######## Sidebar Css ######################### */
.sidebar .widget {
margin-bottom: 20px;
position: relative;
}
.sidebar h2 {
font-size: 17px;
line-height: 27px;
color: #000;
padding: 7px 15px;
margin-bottom: 25px;
font-weight: 600;
letter-spacing: 1.5px;
text-transform: capitalize;
position: relative;
text-align: center;
border: 1px solid #777777;
}
.sidebar h2:before, .sidebar h2:after {
content: '';
display: block;
position: absolute;
margin: auto;
top: 0;
bottom: 0;
background: #585858;
width: 8px;
height: 8px;
text-align: center;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
-webkit-transform: rotate(40deg);
-moz-transform: rotate(40deg);
-ms-transform: rotate(40deg);
-o-transform: rotate(40eg);
}
.sidebar h2:after {
right: 16px;
}
.sidebar ul,.sidebar li{
list-style-type:none;
margin:0;
padding:0;
}
.menu-tab li a,
.sidetabs .section {
transition: all 0s ease;
-webkit-transition: all 0s ease;
-moz-transition: all 0s ease;
-o-transition: all 0s ease;
-ms-transition: all 0s ease
}
.menu-tab {
overflow: hidden;
clear: both;
padding: 0;
margin: 0 0 10px
}
.sidetabs .widget h2 {
display: none
}
.menu-tab li {
width: 33%;
float: left;
display: inline-block;
padding: 0
}
.menu-tab li a {
height: 32px;
text-align: center;
padding: 0;
font-weight: 700;
display: block;
color: #fff;
background-color: #202020;
font-size: 11px;
line-height: 32px;
letter-spacing: .5px;
text-transform: uppercase
}
.menu-tab li.active a {
background-color:$primarycolor;
}
.menu-tab li {
display: none
}
.hide-tab {
display: inline-block!important
}
#tabside3 {
    margin-bottom: 15px;
}
/* ######## Post Css ######################### */
article {
    padding: 0;
}
.post-outer {
    padding:0;
}
.post {
    margin: 10px 0;
    padding: 10px 0px;
}

.post h2 {
    margin-top: 0;
    margin-bottom: 0px;
    line-height: 20px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.post h2 a {
color: #000;
letter-spacing: 1px;
}
.post h2 {
    margin: 0 0 10px;
    padding: 0;
}


.retitle h2 {
    margin: 8px 0;
    display: block;
    font-size:18px;
}
.post-body {
margin: 0px;
padding:10px;
font-size: 14px;
line-height: 26px;
}
.block-image {
    position:relative;
       float: none;
    margin: 0 auto;
    clear: both;
    height: 250px;
        width: 215px;
         max-width: 100%;
    object-fit: cover;
    -webkit-perspective:600px;
  -moz-perspective:600px;
  perspective:600px;
}
.block-image .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
    display: block;
}
.block-image a {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
border-radius: 5px;
    transition: all .3s ease-out!important;
    -webkit-transition: all .3s ease-out!important;
    -moz-transition: all .3s ease-out!important;
    -o-transition: all .3s ease-out!important;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
}
.block-image a:before {
content: "\f02d";
    font-family: FontAwesome;
    line-height: 32px;
    width: 32px;
    height: 32px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 45%;
    left: 45%;
    opacity:0;
    padding: 0; 
    z-index:1;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.25s ease-in-out 0s;
}
.block-image a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background:$primarycolor;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out 0s;
}
.block-image:hover.block-image .thumb {
-webkit-transform: rotateY(45deg);
-moz-transform: rotateY(45deg);
-o-transform: rotateY(45deg);
transform: rotateY(45deg);
}
.bk-left {
    display: block;
    overflow: hidden;
    top: 7px;
    height: 95%;
    -webkit-transform: rotate3d(0,1,0,-90deg);
    transform: rotate3d(0,1,0,-90deg);
    position: absolute!important;
    width: 40px;
    left: -11px;
    background-color: #222;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bk-left h2 {
    font-size: 20px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
    position: absolute;
    top: 10%;
    bottom: auto;
    height: 40px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    color: #fff;
    transform: rotate(90deg) translateY(-40px);
    margin: 0;
    padding: 0;
    width: auto;
}
.block-image:hover .bk-left {
    -webkit-transform: rotateY(-45deg);
    -o-transform: rotateY(45deg);
    transform: rotateY(-45deg);
       top: -15px;
    height: 112%;
}
.block-image:hover.block-image a:after {
 opacity: 0.8;
    visibility:visible;
}
 .block-image:hover.block-image a:before {
 opacity: 1;
    visibility:visible;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.rw-ui-container.rw-dir-ltr .rw-report-link, .rw-ui-container.rw-valign-middle.rw-halign-right .rw-report-link {
display: none!important;
}
.rw-ui-info-inner-container:hover {
background: none!important;
}
.rw-ui-info-nub.rw-ui-info-inner-nub, .rw-ui-info-nub.rw-ui-info-outer-nub {
display: none;
}
.rw-ui-tooltip {
display: none!important;
}
.rw-ui-container.rw-size-small span.rw-ui-info {
font-family: Times New Roman, sans-serif;
color: #b8b8b8!important;
text-transform: uppercase;
font-size: 13px;
display: none;
}
.rw-ui-container {
float: right;
margin-top: -3px;
}
.rw-ui-container.rw-halign-right, .rw-ui-container.rw-halign-right .rw-ui-info-inner-container {
border-color: #fff!important;
}
.rw-ui-report.rw-size-large.rw-halign-center.gradient.rw-dir-ltr.rw-type-nero.rw-meta-rating-29085119.rw-valign-bottom, .rw-ui-report.rw-dir-ltr, .rw-ui-container.rw-size-medium .rw-report-link {
display: none!important;
}
.date-header {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3em;
    margin: 0!important;
    padding: 0;
}
.date-header a {
    color: #bdbdbd;
}
.post-header {
    padding: 10px;
}
#meta-post .fa-calendar-o {
    margin-left: 8px;
}
.post-meta {
    color: #bdbdbd;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: 0 0 5px;
        border-bottom: 1px solid #f2f2f2;
}
.post-meta a, .post-meta i {
    color: #CBCBCB;
}
.post-timestamp {
    margin-left: 5px;
}
.label-head {
    margin-left: 5px;
}
.label-head a {
    padding-left: 2px;
}
.resumo {
    margin-top: 10px;
    color: #919191;
}
.resumo span {
    display: block;
    margin-bottom: 8px;
font-size: 16px;
    line-height: 31px;
}
.post img {
max-width: 100%;
padding: 10px 0;
position: relative;
margin:0 auto;
}
.post h3 {
font-size: 18px;
margin-top: 20px;
margin-bottom: 10px;
line-height: 1.1;
}
.second-meta {
    display: none;
}
.comment-link {
    white-space: normal;
}
#blog-pager {
clear: both;
text-align: center;
padding: 15px 0;
background: #ffffff;
color: #4d4d4d;
}
.displaypageNum a,
.showpage a,
.pagecurrent,
.blog-pager-older-link,
.blog-pager-newer-link,
.home-link,
.showpageOf {
font-family: 'Times New Roman', serif;
font-size: 16px;
padding: 7px 14px;
margin-right: 5px;
border-radius: 2px;
background: $primarycolor;
color:#fff;
font-weight: 700;
float: left;
}
.showpageOf {
float:right!important;
}
#blog-pager .pages {
border: none;
}
.firstpage,
.lastpage {
display: none;
}
/* ######## Share widget Css ######################### */
.share-box {
position: relative;
padding: 10px;
}
.share-title {
border-bottom: 2px solid #777;
color: #010101;
display: inline-block;
padding-bottom: 7px;
font-size: 15px;
font-weight: 500;
position: relative;
top: 2px;
}
.share-art {
float: right;
padding: 0;
padding-top: 0;
font-size: 13px;
font-weight: 400;
text-transform: capitalize;
}
.share-art a {
color: #fff;
padding: 3px 8px;
margin-left: 4px;
border-radius: 2px;
display: inline-block;
margin-right: 0;
background: #010101;
}
.share-art a:hover{color:#fff}
.share-art .fac-art{background:#3b5998}
.share-art .fac-art:hover{background:rgba(49,77,145,0.7)}
.share-art .twi-art{background:#00acee}
.share-art .twi-art:hover{background:rgba(7,190,237,0.7)}
.share-art .goo-art{background:#db4a39}
.share-art .goo-art:hover{background:rgba(221,75,56,0.7)}
.share-art .pin-art{background:#CA2127}
.share-art .pin-art:hover{background:rgba(202,33,39,0.7)}
.share-art .lin-art{background:#0077B5}
.share-art .lin-art:hover{background:rgba(0,119,181,0.7)}
.share-art .print-art{background:$secondcolor}
.share-art .lin-art:hover{background:rgba(0,119,181,0.7)}
.sora-author-box {
border: 1px solid #f2f2f2;
background: #f8f8f8;
overflow: hidden;
padding: 10px;
margin: 10px 0;
}
.sora-author-box img {
float: left;
margin-right: 10px;
border-radius: 50%;
}
.sora-author-box p {
padding: 10px;
}
.sora-author-box b {
    font-family: 'Times New Roman', serif;
font-size: 20px;
}
/* ######## Related Post Css ######################### */
#related-posts {
margin-bottom: 10px;
padding: 10px;
}
.related li {
width: 31.276%;
display: inline-block;
height: auto;
min-height: 184px;
float: left;
margin-right: 22px;
overflow: hidden;
position: relative;
}
.related li h3 {
margin-top:0;
}
.related-thumb {
width: 100%;
height: 250px;
overflow: hidden;
border-radius: 2px;
}
.related li .related-img {
width: 100%;
height: 250px;
display: block;
position: relative;
transition: all .3s ease-out!important;
-webkit-transition: all .3s ease-out!important;
-moz-transition: all .3s ease-out!important;
-o-transition: all .3s ease-out!important;
}
.related li .related-img:hover {
-webkit-transform: scale(1.1) rotate(-1.5deg)!important;
-moz-transform: scale(1.1) rotate(-1.5deg)!important;
transform: scale(1.1) rotate(-1.5deg)!important;
transition: all .3s ease-out!important;
-webkit-transition: all .3s ease-out!important;
-moz-transition: all .3s ease-out!important;
-o-transition: all .3s ease-out!important;
}
.related-title a {
font-size: 14px;
line-height: 1.4em;
padding: 10px 0 4px;
font-weight: 500;
color: #fff;
display: block;
text-shadow: 0 .5px .5px rgba(34,34,34,0.3);
}
.related li:nth-of-type(3),
.related li:nth-of-type(6),
.related li:nth-of-type(9) {
margin-right: 0;
}
.related .related-tag {
position: absolute;
top: 15px;
left: 15px;
background-color: $primarycolor;
color: #fff;
text-transform: uppercase;
font-weight: 400;
z-index: 5;
height: 20px;
line-height: 20px;
padding: 0 6px;
font-size: 11px;
}
.related .related-thumb .related-img:after {
content: no-close-quote;
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 120px;
background: url(http://3.bp.blogspot.com/-LnvazGBvKh8/VskckSkmzxI/AAAAAAAAC4s/erEgI6A_ih4/s1600-r/metabg.png) repeat-x;
background-size: 100% 100%;
opacity: .8;
}
.related-overlay {
position: absolute;
left: 0;
top: 0;
z-index: 1;
width: 100%;
height: 100%;
background-color: rgba(40,35,40,0.05);
}
.related-content {
position: absolute;
bottom: 0;
padding: 15px 15px 11px;
width: 100%;
line-height: 1.2em;
box-sizing: border-box;
z-index: 2;
}
.related .related-content .recent-date {
color: #ccc;
font-size: 12px;
font-weight: 400;
}
.recent-date:before, .p-date:before {
content: '\f017';
font-family: fontawesome;
margin-right: 5px;
}
/* ######## Comment Form Widget ######################### */
.comment-form {
overflow:hidden;
}
iframe.blogger-iframe-colorize,
iframe.blogger-comment-from-post {
height: 283px!important
}
.comments h3 {
line-height:normal;
text-transform:uppercase;
color:$secondcolor;
font-weight:bold;
margin:0 0 20px 0;
font-size:14px;
padding:0 0 0 0;
}
h4#comment-post-message {
display:none;
margin:0 0 0 0;
}
.comments{
clear:both;
margin-top:10px;
margin-bottom:0
}
.comments .comments-content{
font-size:13px;
margin-bottom:8px
}
.comments .comments-content .comment-thread ol{
text-align:left;
margin:13px 0;
padding:0
}
.comments .avatar-image-container {
background:#fff;
border:1px solid #DDD;
overflow:hidden;
padding:6px;
}
.comments .comment-block{
position:relative;
background:#fff;
padding:15px;
margin-left:60px;
border-left:3px solid #ddd;
border-top:1px solid #DDD;
border-right:1px solid #DDD;
border-bottom:1px solid #DDD;
}
.comments .comment-block:before {
content:"";
width:0px;
height:0px;
position:absolute;
right:100%;
top:14px;
border-width:10px;
border-style:solid;
border-color:transparent #DDD transparent transparent;
display:block;
}
.comments .comments-content .comment-replies{
margin:8px 0;
margin-left:60px
}
.comments .comments-content .comment-thread:empty{
display:none
}
.comments .comment-replybox-single {
background:#f0f0f0;
padding:0;
margin:8px 0;
margin-left:60px
}
.comments .comment-replybox-thread {
background:#f0f0f0;
margin:8px 0 0 0;
padding:0;
}
.comments .comments-content .comment{
margin-bottom:6px;
padding:0
}
.comments .comments-content .comment:first-child {
padding:0;
margin:0
}
.comments .comments-content .comment:last-child {
padding:0;
margin:0
}
.comments .comment-thread.inline-thread .comment, .comments .comment-thread.inline-thread .comment:last-child {
margin:0px 0px 5px 30%
}
.comment .comment-thread.inline-thread .comment:nth-child(6) {
margin:0px 0px 5px 25%;
}
.comment .comment-thread.inline-thread .comment:nth-child(5) {
margin:0px 0px 5px 20%;
}
.comment .comment-thread.inline-thread .comment:nth-child(4) {
margin:0px 0px 5px 15%;
}
.comment .comment-thread.inline-thread .comment:nth-child(3) {
margin:0px 0px 5px 10%;
}
.comment .comment-thread.inline-thread .comment:nth-child(2) {
margin:0px 0px 5px 5%;
}
.comment .comment-thread.inline-thread .comment:nth-child(1) {
margin:0px 0px 5px 0;
}
.comments .comments-content .comment-thread{
margin:0;
padding:0
}
.comments .comments-content .inline-thread{
background:#fff;
border:1px solid #DDD;
padding:15px;
margin:0
}
.comments .comments-content .icon.blog-author {
display:inline;
}
.comments .comments-content .icon.blog-author:after {
content: "Author";
background:$primarycolor;
color: #fff;
font-size: 11px;
padding: 2px 5px;
}
.comment-header {
text-transform:uppercase;
font-size:12px;
}
.comments .comments-content .datetime {
margin-left: 6px;
}
.comments .comments-content .datetime a {
color:#888;
}
.comments .comment .comment-actions a {
display:inline-block;
color:$secondcolor;
font-weight:bold;
font-size:10px;
line-height:15px;
margin:4px 8px 0 0;
}
.comments .continue a {
color:$secondcolor;
display:inline-block;
font-size:10px;
}
.comments .comment .comment-actions a:hover, .comments .continue a:hover{
text-decoration:underline;
}
.blogger-tab{
display:block;
}
.cmm-tabs .content-tab {
background-color: transparent;
padding: 0;
}
.cmm-tabs-header {
margin-bottom: 10px;
border-bottom: 2px solid #eee;
position: relative;
}
.cmm-tabs-header h3 {
display: inline-block;
font-size: 18px;
margin: 0;
border-bottom: 2px solid #777;
color: #010101;
top: 2px;
font-weight: 500;
padding-bottom: 2px;
}
.cmm-tabs-header h3 h9 {
display: none;
}
.simplyTab .cmm-tabs-header .wrap-tab {
float: right;
}
.cmm-tabs-header .wrap-tab a {
height: auto;
line-height: 1.2em;
padding: 3px 5px;
font-size: 14px;
display: inline-block;
}
.cmm-tabs-header .wrap-tab li {
float: left;
width: auto;
}
.facebook-tab,
.fb_iframe_widget_fluid span,
.fb_iframe_widget iframe {
width: 100%!important;
}
.cmm-tabs.simplyTab .content-tab {
background-color: transparent;
padding: 0;
margin-top: 20px;
}
.cmm-tabs.simplyTab .wrap-tab li a {
border-radius: 2px;
text-transform: uppercase;
color: #FFF;
font-weight: 500;
background-color: $secondcolor;
font-size: 12px;
}
.cmm-tabs.simplyTab .wrap-tab li a.activeTab {
background-color: $primarycolor;
color:#fff;
}
.cmm-tabs.simplyTab .wrap-tab {
float: right;
}
.cmm-tabs.simplyTab .wrap-tab li {
margin-left: 5px;
list-style: none;
}
.wrap-tab {
list-style: none;
}
.content-tab {
transition: all .0s ease;
-webkit-transition: all .0s ease;
-moz-transition: all .0s ease;
-o-transition: all .0s ease;
}
/* ######## Subscribe Css ######################### */
.sub-wrap {
    background-image: url(https://4.bp.blogspot.com/-OeDHvvNC6FY/V8f8bxqEtyI/AAAAAAAAA00/lJW9aFRzLTY3iZ7AGQUvBoOa53cldSYYwCLcB/s1600/bg-subcribe.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
#subscribe-css {
position: relative;
padding: 80px 0;
overflow: hidden;
}
.subscribe-wrapper {
color: #fff;
font-size: 16px;
line-height: normal;
margin: 0;
text-align: center;
text-transform: none;
font-weight: 400;
width: 100%
}
.subscribe-form {
clear: both;
display: block;
overflow: hidden
}
form.subscribe-form {
clear: both;
display: block;
margin: 0;
width: auto;
overflow: hidden
}
.mail-subcribe {
    float: left;
    content: "";
    width: 30px;
    height: 19px;
    background: url(https://2.bp.blogspot.com/-5MsNNT866fA/V8gAPbStzJI/AAAAAAAAA1A/s7JnGrzilrgAw6YVrRgKJZONURPHSeQmACLcB/s1600/subcribe-mail.png) no-repeat center center;
    position: absolute;
    margin-top: 25px;
    margin-left: 10px;
}
.subscribe-css-email-field {
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
        color: #848484;
margin: 10px 0;
padding: 15px 20px;
width: 35%;
text-indent: 40px;
}
.subscribe-css-email-button {
background: transparent;
    color: #f07c29;
    border: 2px solid #f07c29;
cursor: pointer;
font-weight: 700;
padding: 14px 30px;
margin-left: 15px;
text-transform: none;
font-size: 16px;
border-radius: 50px;
transition: all .6s;
text-transform: uppercase;
    letter-spacing: 1px;
}
.subscribe-css-email-button:hover {
background: #f07c29;
color:#fff;
}
#subscribe-css p.subscribe-note {
margin: 16px;
text-align: center;
color: #848484;
font-size: 30px;
font-weight: 400;
line-height: normal;
}
#subscribe-css p.subscribe-note span {
position: relative;
    overflow: hidden;
    font-weight: 700;
    transition: all .5s;
    color: $primarycolor;
    font-size: 40px;
    text-transform: uppercase;
}
#subscribe-css p.subscribe-note span.itatu {
font-weight: 400;
font-style: italic;
color: #000;
text-transform: lowercase;
font-size: 30px;
}
#subscribe-css p.subscribe-note span.itatu:before,
#subscribe-css p.subscribe-note span.itatu:after {
display: none
}
#subscribe-css p.subscribe-note span:before {
content: '';
position: absolute;
bottom: -2px;
left: 0;
width: 0;
height: 3px;
margin: 10px 0 0;
background: #000;
transition: all .5s
}
#subscribe-css:hover p.subscribe-note span:before {
width: 100%;
}
/*****************************************
Footer Bottom CSS
******************************************/
#lower {
margin:auto;
padding: 0px 0px 10px 0px;
width: 100%;
background:#fff;
}
#lower-wrapper {
margin:auto;
padding: 20px 0px 20px 0px;
border-bottom: 5px double #eaeaea;
}
#lowerbar-wrapper {
float: left;
margin: 0px 5px auto;
padding-bottom: 20px;
width: 32%;
text-align: justify;
color:#000000;
line-height: 1.6em;
word-wrap: break-word;
overflow: hidden;
}
.lowerbar {margin: 0; padding: 0;}
.lowerbar .widget {margin: 0; padding: 10px 20px 0px 20px;box-sizing:border-box;}
.lowerbar .widget-content {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}
.lowerbar  h2 {
    color: #303030;
    font-size: 24px;
    margin-bottom: -1px;
    padding-right: 15px;
    border-bottom: solid 1px #F5F5F5;
    padding-top: 4px;
    padding-bottom: 4px;
    min-width: 10px;
    text-align: center;
}
.lowerbar h2:before {
    background: $primarycolor;
    bottom: 0;
    content: '';
    margin-left: -19px;
    position: absolute;
    width: 38px;
    height: 2px;
    left: 50%;
}
.lowerbar ul {
margin: 0 auto;
padding: 0;
list-style-type: none;
}
.lowerbar li {
display:block;
line-height: 1.6em;
margin-left: 0 !important;
list-style-type: none;
}
.lowerbar li a {
text-decoration:none; color: $secondcolor;
}
.lowerbar li a:hover {
text-decoration:none;
}
.lowerbar li:hover {
display:block;
}
/* ######## Footer Css ######################### */
#jugas_footer {
    color: $secondcolor;
font-family: 'Times New Roman', serif;
    font-weight: 300;
    padding: 15px 0px;
}
.copy-container {
    margin: 0 auto;
    overflow: hidden;
}
.jugas_footer_copyright a {
    color:$primarycolor;
}
.jugas_footer_copyright {
    text-align: center;
}
/* ######## Custom widget Css ######################### */
.home-ad .widget {
    width: 728px;
    max-height: 90px;
    padding: 0 2% 0 0;
    margin: 0px auto 20px!important;
    max-width: 100%;
    box-sizing: border-box;
}
.social-counter {
margin: 0;
padding: 0;
overflow: hidden;
margin-bottom: 20px;
}
.social-counter ul {
margin: 0;
padding: 0
}
.social-counter ul li {
width: 48%;
float: left;
text-align: left;
margin: 0 0 5px;
padding: 0 0 5px;
position: relative;
border-bottom: 1px solid #f5f5f5
}
.social-counter ul li:nth-child(2),
.social-counter ul li:nth-child(4),
.social-counter ul li:nth-child(6),
.social-counter ul li:nth-child(8) {
float: right
}
.social-counter ul li:nth-child(7),
.social-counter ul li:nth-child(8) {
margin: 0;
padding: 0;
border: 0
}
.social-counter ul li a {
margin: 0;
padding: 0
}
.item-icon {
float: left;
position: relative;
text-align: center;
vertical-align: middle;
color: #fff;
margin: 0;
display: inline-block;
width: 36px;
height: 36px;
line-height: 36px;
font-size: 20px;
border-radius: 2px
}
.hide-count {
display: none
}
.item-count {
display: inline-block;
color: #202020;
font-weight: 700;
font-size: 14px;
line-height: 36px;
float: left;
padding-left: 10px
}
.item-text {
float: right;
display: inline-block;
color: #CBCBCB;
font-size: 12px;
line-height: 36px;
font-weight: 400
}
.item-social.facebook .item-icon {
background-color: #5271b3
}
.item-social.twitter .item-icon {
background-color: #49aff8
}
.item-social.gplus .item-icon {
background-color: #cb2027
}
.item-social.rss .item-icon {
background-color: #FFC200
}
.item-social.youtube .item-icon {
background-color: #eb1a21
}
.item-social.dribbble .item-icon {
background-color: #ea4c89
}
.item-social.instagram .item-icon {
background-color: #4E729A
}
.item-social.pinterest .item-icon {
background-color: #cb2027
}
.item-social.facebook .item-icon:before {
content: "\f09a"
}
.item-social.twitter .item-icon:before {
content: "\f099"
}
.item-social.gplus .item-icon:before {
content: "\f0d5"
}
.item-social.rss .item-icon:before {
content: "\f09e"
}
.item-social.youtube .item-icon:before {
content: "\f16a"
}
.item-social.instagram .item-icon:before {
content: "\f16d"
}
.item-social.dribbble .item-icon:before {
content: "\f17d"
}
.item-social.pinterest .item-icon:before {
content: "\f0d2"
}
.social-counter ul li:hover .item-icon {
background-color: #202020;
}
.social-counter ul li:hover .item-text {
color: #FFD439;
}
.sidebar .PopularPosts ul {
margin: 0;
padding: 0;
}
.sidebar .PopularPosts ul li {
    list-style: none !important;
    padding: 0 !important;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 48.4%;
    float: left;
}
.sidebar .PopularPosts ul li.odd {
    margin-right: 0;
}
.sidebar .PopularPosts .item-thumbnail {
height: 190px;
margin: 0;
overflow: hidden;
width: 100%;
position: relative;
}
.sidebar .PopularPosts .item-title {
display:block;
clear:both;
}
.sidebar .PopularPosts img {
height: 100%;
width: 100%;
object-fit: cover;
}
.sidebar .PopularPosts .item-thumbnail:before {
    content: "\f02d";
    font-family: FontAwesome;
    line-height: 32px;
    width: 32px;
    height: 32px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 45%;
    left: 40%;
    opacity: 1;
    padding: 0;
    z-index: 2;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.25s ease-in-out 0s;
}

.sidebar .PopularPosts .item-title a {
display: block;
margin: 0 auto;
padding: 5px 0;
font-size:15px;
line-height: 20px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.sidebar .PopularPosts .item-snippet {
    color: $secondcolor;
        margin: 0px auto;
}
.sidebar .PopularPosts .item-content {
position: relative;
}
.PopularPosts .img-overlay {
position: absolute;
left: 0;
top: 0;
z-index: 1;
width: 100%;
height: 100%;
background-color:$primarycolor;
opacity:0.5;
}
.PopularPosts .item-thumbnail:hover a .img-overlay {
    background-color: rgba(40,35,40,0.3);
    opacity:1;
}
.sidebar .PopularPosts .widget-content ul li:first-child,
.sidebar .custom-widget li:first-child {
padding-top: 0;
border-top: 0;
}
.sidebar .PopularPosts .widget-content ul li:last-child,
.sidebar .custom-widget li:last-child {
padding-bottom: 0;
}
.custom-widget li {
overflow: hidden;
border-bottom: 1px solid #F5F5F5;
padding: 10px 0;
}
.custom-widget li:first-child {
padding-top: 0;
}
.custom-widget li:last-child {
border-bottom: none;
}
.custom-widget .rcthumb {
position: relative;
float: left;
margin: 0!important;
width: 80px;
height: 60px;
overflow: hidden;
display: block;
vertical-align: middle;
}
.custom-widget .post-panel {
padding-left: 10px;
display: table-cell;
}
.custom-widget .rcp-title {
overflow: hidden;
line-height: 0;
margin: 0 0 2px;
padding: 0;
}
.custom-widget .rcp-title a {
color: #222222;
font-weight: 400;
font-size: 13px;
line-height: 1.5em;
}
.custom-widget .rcp-title a:hover {
color: #0277bd;
}
.custom-widget .rcthumb:hover .img-overlay {
background-color: rgba(40, 35, 40, 0.3);
}
.recent-author {
margin-right: 10px;
}
.recent-author::before {
content: '\f007';
font-family: fontawesome;
color: #bbb;
margin-right: 5px;
}
.recent-author,
.recent-date {
color: #bdbdbd;
font-size: 12px;
font-weight: 400;
}
.recent-date:before {
content: '\f133';
font-family: fontawesome;
color: #bbb;
margin-right: 5px;
}
.cmm-widget li .cmm-avatar {
position: relative;
overflow: hidden;
padding: 0;
width: 55px;
height: 55px;
float: left;
margin: 0 10px 0 0;
}
.cmm-widget li {
background: none!important;
clear: both;
list-style: none;
word-break: break-all;
display: block;
border-top: 1px solid #F5F5F5;
overflow: hidden;
margin: 0;
padding: 10px 0;
}
.cmm-widget li:first-child {
padding-top: 0;
border-top: 0;
}
.cmm-widget li:last-child {
padding-bottom: 0;
}
.cmm-widget li span {
margin-top: 4px;
color: #bdbdbd;
display: block;
line-height: 1.2em;
text-transform: lowercase;
font-size: 12px;
font-style: italic;
font-weight: 400;
}
.cmm-img {
width: 55px;
height: 55px;
float: left;
margin: 0 10px 0 0;
}
.cmm-widget a {
color: #222222;
position: relative;
font-size: 13px;
text-transform: capitalize;
display: block;
overflow: hidden;
font-weight: 400;
}
.cmm-widget a:hover {
color:$primarycolor;
}
.cmm-widget {
list-style: none;
padding: 0;
}
.cloud-label-widget-content {
text-align: left
}
.cloud-label-widget-content .label-count {
background: $primarycolor;
color: #fff!important;
margin-left: -3px;
padding-right: 3px;
white-space: nowrap;
border-radius: 2px;
padding: 1px 4px !important;
font-size: 12px !important;
margin-right: 5px;
}
.cloud-label-widget-content .label-size {
background: #ebebeb;
display: block;
float: left;
font-size: 11px;
margin: 0 5px 5px 0
}
.cloud-label-widget-content .label-size a,
.cloud-label-widget-content .label-size span {
height: 18px !important;
color: $secondcolor;
display: inline-block;
font-size: 12px;
font-weight: 500!important;
padding: 6px 8px
}
.cloud-label-widget-content .label-size a {
padding: 6px 10px
}
.cloud-label-widget-content .label-size a:hover {
color: #000!important
}
.cloud-label-widget-content .label-size,
.cloud-label-widget-content .label-count {
height: 30px!important;
line-height: 19px!important;
border-radius: 2px
}
.cloud-label-widget-content .label-size:hover {
background: $primarycolor;
color: #fff!important
}
.cloud-label-widget-content .label-size:hover a {
color: #fff!important
}
.cloud-label-widget-content .label-size:hover span {
background: #ebebeb;
color: $primarycolor !important;
cursor: pointer
}
.cloud-label-widget-content .label-size-1,
.label-size-2,
.label-size-3,
.label-size-4,
.label-size-5 {
font-size: 100%;
opacity: 10
}
.label-size-1,
.label-size-2 {
opacity: 100
}
.list-label-widget-content li {
display: block;
padding: 8px 0;
border-bottom: 1px solid #ebebeb;
position: relative
}
.list-label-widget-content li a:before {
content: '\203a';
position: absolute;
left: 0px;
top: 2px;
font-size: 22px;
color: #ebebeb
}
.list-label-widget-content li a {
color: #2b2b2b;
font-size: 12px;
padding-left: 20px;
font-weight: 400;
text-transform: uppercase
}
.list-label-widget-content li a:hover {
color: #ebebeb
}
.list-label-widget-content li span:last-child {
color: #ebebeb;
font-size: 12px;
font-weight: 700;
position: absolute;
top: 9px;
right: 0
}
.contact-form-name, .contact-form-email, .contact-form-email-message, .contact-form-widget {
max-width: none;
margin-bottom: 15px;
}
.contact-form-name, .contact-form-email, .contact-form-email-message {
background-color: #EBEBEB;
border: 1px solid #ccc;
}
.contact-form-widget .form {
}
.contact-form-button-submit {
max-width: none;
width: 100%;
height: 35px;
color: #f07c29 !important;
    border: 2px solid #f07c29 !important;
background-image: none;
background: transparent !important;
cursor: pointer;
font-style: normal;
font-weight: 400;
}
.contact-form-name:focus, .contact-form-email:focus, .contact-form-email-message:focus {
border: 1px solid #f07c29;
}
.contact-form-name:hover, .contact-form-email:hover, .contact-form-email-message:hover {
border: 1px solid #f07c29;
}
.contact-form-button-submit:hover {
background-color: #f07c29 !important;
background-image: none;
color:#ffffff !important;
}
/* ######## Responsive Css ######################### */
@media only screen and (max-width: 1200px) {
.row {
width: 96% !important;
margin: 0 auto;
float: none;
}
#header-wrappers {
    height: 100%;
}
.headerright, .headerleft {
float: none;
width: 100%;
text-align: center;
height: auto;
margin: 0 auto;
clear: both;
}
.headerleft img {
margin: auto;
padding-bottom: 15px;
}
.headerright {
margin: 10px auto 0;
}
#nav-menu1 {
display: none;
}
.selectnav {
width: auto;
color: #222;
background: #f4f4f4;
border: 1px solid rgba(255,255,255,0.1);
position: relative;
border: 0;
padding: 6px 10px!important;
margin: 5px 0;
}
.selectnav {
    display: inline;
    width: 50%;
    min-width: 180px;
}
#main-wrapper, #sidebar-wrapper {
float: none;
clear: both;
width: 100%;
margin: 0 auto;
}
}
@media only screen and (max-width: 980px) {
#lowerbar-wrapper {
float: none;
clear: both;
width: 100%;
margin: 0 auto;
}
#sidebar-wrapper {
padding-top: 20px;
}
.post-body {
padding:0;
}
}
@media screen and (max-width: 880px) {
.home #header-wrapper {
margin-bottom: 10px;
}
.item #content-wrapper {
padding: 15px 0 30px;
}
}
@media only screen and (max-width: 768px) {
.share-art span {
display: none;
}
.ops-404 {
width: 80%!important;
}
.title-404 {
font-size: 160px!important;
}
.index article {
padding: 10px;
}
.related li {
width: 100%;
}
.item .post {
margin: 0 0 10px;
padding: 0 0 10px;
}
}
@media only screen and (max-width: 480px) {
.subscribe-css-email-field {
    width: 100%;
}
.cmm-tabs-header h3 {
display: none;
}
.cmm-tabs.simplyTab .wrap-tab {
float: none;
padding: 0;
}
.cmm-tabs.simplyTab .wrap-tab li {
width: 31%;
}
.cmm-tabs.simplyTab .wrap-tab li a {
width:90%;
}
.index .post h2,.archive .post h2 {
line-height: 34px;
font-size: 23px;
}
h1.post-title {
font-size: 22px;
margin-bottom: 10px;
}
#sidebar-wrapper {
max-width: 100%;
}
.index .post-outer {
padding: 0;
}
.index .post {
margin: 20px 0 15px 0 !important;
}
.index div.post-outer:nth-child(1) .post {
margin: 0 0 15px 0 !important;
}
.cmm-tabs-header {
overflow: hidden;
margin-top: 10px;
}
}
@media only screen and (max-width: 360px) {
.title-404 {
font-size: 150px!important;
}
.Header .description p{display:none}
.showpageOf {
    display: none;
}
.share-title {
display: none;
}
}
@media only screen and (max-width: 300px) {
#sidebar-wrapper {display:none}
.archive .post h2,.index .post h2 {
line-height: 29px!important;
font-size: 15px!important;
}
article {
overflow: hidden;
}
#blog-pager {
padding: 0;
margin: 0;
}
#subscribe-css p.subscribe-note span {
font-size: 20px;
}
#subscribe-css p.subscribe-note span.itatu {
font-size:18px;
}
#subscribe-css p.subscribe-note {
font-size:20px;
}
.index .snippets,.archive .snippets,.sora-author-box img,.share-box .post-author {
display: none;
}
.share-art, .share-box .post-author {
float: none;
margin: 0 auto;
text-align: center;
clear: both;
}
.read-more-wrap, .post-labels {
float: none !important;
clear: both;
display: block;
text-align: center;
}
.ops-404 {
font-size: 20px!important;
}
.title-404 {
font-size: 120px!important;
}
h1.post-title {
font-size: 17px;
}
.share-box {
overflow: hidden;
}
.sec-head h2 {
font-size: 25px;
}
}
]]></b:skin>

<b:template-skin><![CDATA[
/*------Layout (No Edit)----------*/

body#layout #outer-wrapper {
    padding: 0;
    width: 1073px;
}
body#layout .section h4 {
color: #333!important;
}
body#layout .option {
background-color: #2c3e50!important;
overflow: hidden!important;
}
body#layout .option h4 {
font-size: 16px;
padding: 4px 0 7px;
color: #fff!important;
}
body#layout .option .widget {
float: left;
width: 33.33%;
}
body#layout .option .widget.locked-widget .widget-content {
background-color: #34495e !important;
border-color: #455668 !important;
color: #fff!important;
}
body#layout .option .widget.locked-widget .widget-content a.editlink {
color: #fff !important;
border: 1px solid #233648;
border-radius: 2px;
padding: 2px 5px;
background-color: #233648;
}

body#layout #header-wrappers {
height: auto;
padding: 0;
}
body#layout .headerleft {
float: left;
width: 300px;
max-height: none;
margin: 0;
padding: 0;
}
body#layout #headerleft {
background-color: #b57dcc !important;
border-color: #8a52a1 !important;
}
body#layout .headerleft .widget-content {
border-color: #8a52a1;
}
body#layout .headerright {
width: 420px;
margin: 0;
}
body#layout .sec-head {
display: block;
background-color: #6dad88 !important;
border-color: #338957 !important;
}
body#layout .sec-head .widget-content {
border-color: #338957 !important;
}
body#layout .navi-menu {
height: auto;
}
body#layout .header-menu li.li-home,
body#layout .header-search, body#layout #loader, body#layout #status {
display: none;
}
body#layout .sec-head {
float: left;
width: 95%;
max-width: 95%;
margin: 4px 0 0;
padding: 0;
}
body#layout .box-sec {
       margin-bottom: 0 !important;
}
body#layout .box-sec .widget-content,
body#layout .box-sec h2,
body#layout #ads-blog {
display: block;
}
body#layout #main-wrapper {
float: left;
width: 70%;
margin: 0;
padding: 0;
}

body#layout #sidebar-wrapper {
float: right;
width: 30%;
margin: 0;
padding: 5px 0 0;
background-color: #f8e244!important;
}
body#layout #sidebar-wrapper .section {
background-color: #fff;
border: 1px solid #fff;
}
body#layout #sidebar-wrapper .section .widget-content {
border-color: #5a7ea2!important;
}
body#layout #sidebar-wrapper .section .draggable-widget .widget-wrap2 {
background-color: #5a7ea2!important;
}

body#layout #lower {
overflow: hidden;
}
body#layout #lowerbar-wrapper {
width: 30%;
float: left;
margin: 0 0 8px 2.2% !important;
}

body#layout #unwanted,
body#layout #pop-sec,
body#layout #contact {
display: none!important;
}

body#layout .featuresub {
background-color: #f38d83;
border-color: #c5554a;
}
body#layout .featuresub .widget-content {
border-color: #c5554a;
}
body#layout .ticker .widget {
height: auto;
}
body#layout .featuresub .draggable-widget .widget-wrap2 {
background-color: #c5554a!important;
}
body#layout #featured-sec {
background-color: #f9a85f;
border-color: #fb8f3d;
}
body#layout #featured-sec .widget-content {
border-color: #fb8f3d;
}
body#layout #featured-sec .draggable-widget .widget-wrap2 {
background-color: #fb8f3d!important;
}
body#layout #main-wrapper #main {
margin-right: 4px;
background-color: #5a7ea2;
border-color: #34495e;
}
body#layout #main-wrapper #main h4 {
color: #fff!important;
}
body#layout .layout-widget-description {
display: none!important;
}
body#layout #Blog1 .widget-content {
border-color: #34495e;
}
body#layout .box-sec, body#layout .gallery-post {
background-color: #7fc1ed!important;
border-color: #3498db!important;
}
body#layout .box-sec .widget-content, body#layout .gallery-post .widget-content {
border-color: #3498db;
}
body#layout .box-sec .draggable-widget .widget-wrap2, body#layout .gallery-post .draggable-widget .widget-wrap2 {
background-color: #3498db!important;
cursor: move;
}
body#layout #sidebar {
margin-top: 10px;
}
body#layout #sidetabs {
overflow: hidden;
background-color: #e9d33c;
}
body#layout #tabside1,
body#layout #tabside2,
body#layout #tabside3 {
width: 83%;
float: left;
}
body#layout #lower-wrapper {
overflow: hidden;
background-color: #69a20f;
padding-top: 10px;
margin-bottom: 10px;
}
body#layout #lower-wrapper:before {
content: "Footer Sections";
font-size: 25px;
color: #fff;
padding: 0 0 10px;
text-align: center;
display: block;
}
body#layout #lower-wrapper .section .widget-content {
border-color: #69a20f !important;
}
body#layout #lower-wrapper .section .draggable-widget .widget-wrap2 {
background-color: #69a20f!important;
}
body#layout #headerright,
body#layout #ads-inter,
body#layout #ads-home,
body#layout #post-ads-footer {
background-color: rgba(241, 196, 16, 0.22) !important;
border-color: #f1c410 !important;
}
body#layout #headerright .widget-content,
body#layout #ads-inter .widget-content,
body#layout #ads-home .widget-content,
body#layout #post-ads-footer .widget-content {
border-color: #f1c410 !important;
}
body#layout #headerright .draggable-widget .widget-wrap2,
body#layout #ads-inter .draggable-widget .widget-wrap2,
body#layout #ads-home .draggable-widget .widget-wrap2,
body#layout #post-ads-footer .draggable-widget .widget-wrap2 {
background-color: #f1c410!important;
cursor: move;
}
/*------Layout (end)----------*/
